:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
  /* background-color: rgb(243, 244, 251); */
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  justify-content: space-around;
  background-color: rgb(243, 244, 251);
}

.grid__column {
  padding: 50px 5px;
  line-height: 0.5;
}
.app {
  width: 60%;
  margin: 0 auto;
}

/* .container {
  display: flex;
} */
