.header {
  background-image: url("../../assets/img/header.png");
  background-size: cover;
  width: 100%;
  height: 400px;
  /* background-repeat: no-repeat; */
}

.header__navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  float: left;
  width: 100%;
}

.header__navbar-list {
  list-style: none;
  font-weight: bold;
  font-size: 150%;
  color: rgba(14, 14, 10, 0.623);
  display: inline-flex;
  padding: 0;
}

.header__navbar-item-link {
  margin: 0 20px;
}

.header__navbar-list-img {
  padding: 0;
}

.footer__top {
  background-color: rgb(40, 47, 53);
  padding: 40px;
  display: block;
  text-align: center;
}

button#btnTop {
  padding: 8px 20px;
  background-color: rgb(40, 47, 53);
  justify-content: center;
  text-align: center;
  color: white;
  border: 1px solid #ccc;
}

.footer-navbar {
  /* display: flex;
  //justify-content: center; */
  text-align: center;
  background-color: rgb(243, 244, 251);
}

.footer__navbar-list {
  list-style: none;
  font-weight: bold;
  font-size: 250%;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.footer__navbar-list-img {
  margin: unset;
  padding: 0;
}
.footer__navbar-item-link {
  color: rgb(157, 159, 161);
  font-size: 20px;
  font-style: italic;
}

input#fname {
  border: 1px solid #ccc;
  font-size: 50%;
  cursor: pointer;
  padding: 14px 20px;
  width: 35%;
  height: 45px;
  font-style: italic;
}

button#btnFrame {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 45px;
}

button#btnFrame:hover {
  background-color: rgb(4, 201, 79);
}

.footer__heading-list {
  padding: 0;
  line-height: 0.5;
}

.grid__column_fix {
  display: inherit;
}

.footer__heading_fix {
  font-family: "Helvetica Neue";
  font-size: 20px;
  margin: 8px 0;
}

.footer__heading-list_fixed {
  font-size: 20px;
  padding-top: 0;
  margin-top: 0;
}

.main__container-top {
  background-color: rgb(247, 247, 247);
  width: 100%;
  padding: 30px 20px;
  text-align: center;
}

.container__title {
  text-align: center;
  color: rgb(15, 15, 15);
}
.container__paragraphs {
  text-align: center;
  color: rgb(116, 111, 111);
  font-size: 120%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
  margin: unset;
}

.main__container-onecolumn {
  line-height: 0;
  width: 70%;
}
.main__container-column {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.main__container-column .main__container-top {
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 65%;
}
.main__container-column .container__paragraphs {
  background-color: rgb(255, 255, 255);
  text-align: justify;
  padding-bottom: 50px;

  /* line-height: 150%; */
}
.main__container_img {
  width: 100%;
  height: 35%;
}

.main__container-onecolumn img {
  width: 100%;
  height: 100%;
}

.main__container-twocolumn {
  width: 35%;
}

.main__container-column_rev {
  flex-direction: row-reverse;
}

.main__container-onecolumn.main__container-onecolumn-rev {
  width: 35%;
}

.main__container-top .fa-brands.fa-twitter {
  width: 30px;
  font-size: 25px;
  color: blue;
}

.main__container-top-twitter {
  padding: 50px;
}
.main__container-top-twitter .container__paragraphs {
  margin: 0;
  padding: 0;
  /* line-height: 20px; */
}

div#end {
  display: flex;
  flex-direction: row;
}

img.img-responsive {
  width: 50%;
}

img.img-responsive2 {
  height: unset;
}
